<include file="./Application/Home/View/header.html" />
<include file="./Application/Home/View/left.html" />
<div class="admin-content">
	<ol class="am-breadcrumb">
		<li><a href="{:U('Auth/index')}">用户组</a></li>
		<li class="am-active">{$group.title}</li>
	</ol>
	<div class="width_xbdcms">
	<form action="{:U('Auth/groupXg')}" method="post" accept-charset="utf-8" class="am-form">
	<input type="hidden" name="id" value="{$group.id}" />
		<div class="width_500 am-fl">
			<div class="am-form-group">
	      		<label>用户组名</label>
	     		<input type="text" name="yhzname" value="{$group.title}"/>
	    	</div>
			<div class="am-form-group">
				<label>状态</label>
        		<input type="radio" name="yhzstatus" <if condition='$group.status eq 0'>checked='checked'</if> value="0"/>禁用
        		<input type="radio" name="yhzstatus" <if condition='$group.status eq 1'>checked='checked'</if> value="1"/>正常
    		</div>
    		<div class="am-form-group">
      			<label for="doc-ta-1">用户组描述</label>
      			<textarea class="" name="info" rows="5" id="doc-ta-1">{$group.info}</textarea>
    		</div>
		</div>
		
		<div class="width_800 am-fr">
		<table class="am-table am-table-bordered am-table-striped am-text-sm ">
			<tr class="am-text-warning">
				<td>是否拥有</td>
				<td>权限名称</td>
				<td>权限说明</td>
			</tr>
			<volist name="list" id="vo">
			<tr>
				<td><input type="checkbox" <in name="vo.id" value="$group.rules">checked="checked"</in> name="rulesbox[]" value="{$vo.id}"/>
				</td>
				<td>{$vo.title}</td>
				<td>{$vo.info}</td>
			</tr>
			</volist>
		</table>
		</div>
		
		<div>
			<input type="submit" value="修　　改" class="am-btn am-btn-default"/>
		</div>
	</form>
	</div>
</div>
<include file="./Application/Home/View/footer.html" />
