<include file="./Application/Home/View/header.html" />
<include file="./Application/Home/View/left.html" />
<style type="text/css">
    table *{
        font-size: 10px;
        padding: 0px;
        text-align: center;
    }
</style>
<div class="admin-content">
    <ol class="am-breadcrumb">
        <li><a href="{:U('Fhk/YsList','','')}">应收清单</a></li>
        <li class="am-active">明细</li>
        <li><a href="{:U('Fhk/YsDetail','','')}/action/export">导出</a></li>
    </ol>
    <table class="am-table am-table-striped am-table-bordered am-text-sm am-table-hover">
        <tr class="am-success">
            <th>合同号</th>
            <th>还款期数</th>
            <th>合同金额</th>
            <th>逾息罚息</th>
            <th>应收日期</th>
            <th>逾期天数</th>
        </tr>
        <volist name="ClientAgreeInfo" id="vo">
        <tr>
            <td><a href="{:U('Fhk/scan','','')}/id/{$vo.agree_num}">{$vo.agree_num}</a></td>
            <td>{$vo.hk_term}</td>
            <td>{:number_format($vo['agree_hk'],2,'.',',')}</td>
            <td>
                   <if condition="time() gt $vo['hk_date']">
                        <if condition="floor((time()-$vo['hk_date'])/(60*60*24)) elt 15">
                            {:number_format($vo['result_money']*0.04*floor((time()-$vo['hk_date'])/(60*60*24)),2,'.',',')}
                        <elseif condition="floor((time()-$vo['hk_date'])/(60*60*24)) gt 15" />
                            {:number_format($vo['result_money']*0.05*floor((time()-$vo['hk_date'])/(60*60*24)),2,'.',',')}
                        </if>
                    </if>
                    
            </td>
            <td>{$vo['hk_date']|date="Y-m-d",###}</td>
            <td>
                <if condition="time() gt $vo['hk_date']">
                    {:floor((time()-$vo['hk_date'])/(60*60*24))}
                    <elseif condition="time() lt $vo['hk_date']"/>
                    {:floor((time()-$vo['hk_date'])/(60*60*24))}
                    天
                </if>
            </td>
        </tr>
        </volist>
    </table>
    <div class="fengye">{$page}<div/>
</div>
<include file="./Application/Home/View/footer.html" />