<include file="./Application/Home/View/header.html" />
<include file="./Application/Home/View/left.html" />


<div class="admin-content">
	<br>
	<div class="am-alert am-alert-secondary" data-am-alert>
	  <button type="button" class="am-close">&times;</button>
	  <p>这里是首页，暂时什么都没有</p>
	</div>
	<hr>
	<div class="width_600">
	<blockquote>
	  <p>天将降大任于斯人也，<br>
	  	必先夺其手机，断其WiFi；<br>
	  	收其电脑，剪其网线；<br>
	  	卸其QQ，删其微信，封其微博，抢其电视……<br>
	  	使其百无聊赖，然后静坐、思过、读书、明智、开悟，而后涅槃重生。</p>
	  <small>来自iPhone18</small>
	</blockquote></div>
</div>

<include file="./Application/Home/View/footer.html" />