<include file="./Application/Home/View/header.html" />
<include file="./Application/Home/View/left.html" />
<div class="admin-content">
	<ol class="am-breadcrumb">
		<li><a href="#">操作记录</a></li>
		<li class="am-active">列表</li>
	</ol>
	<table class="am-table am-table-bordered am-table-striped am-text-sm">
		<tr class="am-success">
			<th>LogID</th>
			<th>操作时间</th>
			<th>操作人(uid)</th>
			<th>操作内容</th>
			<th>IP</th>
		</tr>
		<volist name="list" id="vo">
			<tr>
				<td>{$vo.logid}</td>
				<td>{$vo.time|date="Y-m-d H:i:s",###}</td>
				<td>{$vo.xingming}({$vo.uid})</td>
				<td>{$vo.czlr}</td>
				<td>{$vo.ip}</td>
			</tr>
		</volist>
	</table>
	<div class="fengye">{$page}</div>
	

</div>
<include file="./Application/Home/View/footer.html" />